<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">车型选择</h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body p-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h6>选择车辆品牌</h6>
          <app-vehicle-selection [outputType]="'brand'" (selected)="getBrand($event)"></app-vehicle-selection>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h6>选择车辆系列</h6>
          <app-vehicle-selection [outputType]="'series'" (selected)="getSeries($event)"></app-vehicle-selection>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h6>选择车辆型号</h6>
          <app-vehicle-selection [outputType]="'model'" (selected)="getModel($event)"></app-vehicle-selection>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">{{brand}}</div>
        <div class="col-lg-4 col-md-4 col-sm-4">{{series}}</div>
        <div class="col-lg-4 col-md-4 col-sm-4">{{model}}</div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <a [routerLink]="['using-documents']">使用方法</a>
        </div>
      </div>
    </div>
  </div>
</div>
