<div class="row">
  <div class="col-xl-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon">
              <i class="flaticon-users"></i>
            </span>
            <h3 class="m-portlet__head-text">
              联系我们
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="m-widget4">
          <div class="m-widget4__item">
            <div class="m-widget4__ext">
              <span class="m-widget4__icon m--font-brand">
                <i class="flaticon-network"></i>
              </span>
            </div>
            <div class="m-widget4__info">
              <span class="m-widget4__text">
                <h3>青岛轮子软件科技有限公司</h3>
              </span>
            </div>
          </div>
          <div class="m-widget4__item">
            <div class="m-widget4__ext">
              <span class="m-widget4__icon m--font-brand">
                <i class="flaticon-map-location"></i>
              </span>
            </div>
            <div class="m-widget4__info">
              <span class="m-widget4__text">
                青岛市市北区黑龙江南路2号万科中心C座10层
              </span>
            </div>
          </div>
          <div class="m-widget4__item">
            <div class="m-widget4__ext">
              <span class="m-widget4__icon m--font-brand">
                <i class="la la-phone"></i>
              </span>
            </div>
            <div class="m-widget4__info">
              <span class="m-widget4__text">
                0532-58653962
              </span>
            </div>
          </div>
          <div class="m-widget4__item">
            <div class="m-widget4__ext">
              <span class="m-widget4__icon m--font-brand">
                <i class="la la-envelope-o"></i>
              </span>
            </div>
            <div class="m-widget4__info">
              <span class="m-widget4__text">
                <a href="mailto:support@luzn.cn" class="m-link">support@luzn.cn</a>
              </span>
            </div>
          </div>
          <div class="m-widget4__item">
            <div class="m-widget4__ext">
              <span class="m-widget4__icon m--font-brand">
                <i class="flaticon-more-v4"></i>
              </span>
            </div>
            <div class="m-widget4__info">
              <span class="m-widget4__text">
                <a href="http://www.lunztech.cn" target="_blank" class="m-link">www.lunztech.cn</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>