.lz-history-model-title {
  display: inline-block;
  padding: 5px 125px 10px 16px;
  font-weight: 500;
}

.m-menu__item .fa {
  color: #555;
}

.m-menu__item .fa:hover {
  color: #716aca;
  cursor: pointer;
}
