.lz-my-module-wr {
  max-height: 350px;
  overflow-y: auto;
}

.lz-history-model-title {
  display: inline-block;
  padding: 5px 0 10px 16px;
  font-weight: 500;
}

.m-menu__item {
  position: relative;
}

.m-menu__item .lz-model-edit-active {
  position: absolute;
  right: 20px;
}

@keyframes editIconMove {
  from {
    right: 20px;
  }

  to {
    right: 50px;
  }
}

.lz-model-edit-icon-move {
  animation: editIconMove 0.5s;
  animation-fill-mode: forwards;
}

@keyframes editIconBack {
  from {
    right: 50px;
  }

  to {
    right: 20px;
  }
}

.lz-model-edit-icon-back {
  animation: editIconBack 0.5s;
  animation-fill-mode: forwards;
}

.m-menu__item .fa {
  color: #555;
}

.m-menu__item .fa:hover {
  color: #716aca;
  cursor: pointer;
}

.m-menu__link-text {
  position: relative;
}

.lz-mode-edit-item {
  position: absolute;
  right: -10px;
  top: -2px;
}

.flaticon-up-arrow-down {
  transform: rotate(180deg);
}

.lz-model-edit-icon {
  margin-right: 4px;
}

.flaticon-up-arrow {
  font-size: 16px;
}

.lz-history-model-de {
  display: inline-block;
  padding-top: 4px;
  padding-left: 30px;
  color: #676c7b;
}

.lz-history-model-de:hover {
  color: #716aca;
  cursor: pointer;
}

.flaticon-cancel-rotate {
  transform: rotate(45deg);
}

.lz-el-checkbox {
  display: inline-block;
  margin-left: 18px;
}

.lz-add-model-cancel {
  text-align: center;
}

.lz-add-model-cancel i {
  font-size: 26px;
  padding: 0 10px;
  color: #b9c1d4;
  cursor: pointer;
}

.lz-add-model-cancel i:hover {
  transform: scale(1.4);
}
