<a href="#" class="m-menu__link m-menu__toggle">
  <i class="m-menu__link-icon flaticon-add"></i>
  <span class="m-menu__link-text">我的操作</span>
  <i class="m-menu__hor-arrow la la-angle-down"></i>
</a>
<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
  <ul class="m-menu__subnav">
    <li class="m-menu__item">
      <span class="lz-history-model-title">历史访问模块</span>
      <span class="fa" *ngIf="openModelList.length!==0" [ngClass]="{'flaticon-more-v2':!editModel,'flaticon-interface-5':editModel}"
        (click)="editModel=!editModel">
      </span>
    </li>
    <li class=" m-menu__item" *ngIf="openModelList.length==0 ">
      <span class="lz-history-model-title">无~~~</span>
    </li>
    <li class="m-menu__item" *ngFor="let modeList of openModelList;let i=index">
      <a class="m-menu__link" (click)="jumpMode(modeList)">
        <i class="m-menu__link-icon {{modeList.icon}} "></i>
        <span class="m-menu__link-title">
          <span class="m-menu__link-wrap">
            <span class="m-menu__link-text">{{modeList.name}}</span>
            <i class="fa flaticon-close" *ngIf="editModel" (click)="$event.stopPropagation();deleteModel(i)"></i>
          </span>
        </span>
      </a>
    </li>
  </ul>
</div>
