<a href="#" class="m-menu__link m-menu__toggle">
  <i class="m-menu__link-icon flaticon-add"></i>
  <span class="m-menu__link-text">我的操作</span>
  <i class="m-menu__hor-arrow la la-angle-down"></i>
  <i class="m-menu__ver-arrow la la-angle-right"></i>
</a>
<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
  <ul class="m-menu__subnav" *ngIf="!addModel">
    <li class="m-menu__item">
      <span class="lz-history-model-title">我的模块</span>
      <span class="fa lz-model-edit-active" [ngClass]="{'flaticon-more-v2 lz-model-edit-icon-back':!editMyModel,'flaticon-interface-5 lz-model-edit-icon-move':editMyModel}"
        (click)="editMyModel=!editMyModel">
      </span>
      <span class="fa flaticon-cancel flaticon-cancel-rotate lz-model-edit-active" *ngIf="editMyModel" (click)="$event.stopPropagation();gitAllModel();">
      </span>
    </li>
    <li class="m-menu__item" *ngIf="myModelList.length==0 ">
      <span class="lz-history-model-title">未添加~~~</span>
    </li>
    <li class="m-menu__item" *ngFor="let mode of myModelList | slice:0:5;let i=index">
      <a class="m-menu__link" (click)="fastEntryModule(mode)">
        <i class="m-menu__link-icon {{mode.icon}} "></i>
        <span class="m-menu__link-title">
          <span class="m-menu__link-wrap">
            <span class="m-menu__link-text">{{mode.name}}
              <span *ngIf="editMyModel" class="lz-mode-edit-item">
                <i class="fa flaticon-up-arrow lz-model-edit-icon-left lz-model-edit-icon" *ngIf="i!==0" (click)="$event.stopPropagation();moveModel(mode,i,myModelList,1,'myModelList')"
                  title="上移"></i>
                <i class="fa flaticon-up-arrow flaticon-up-arrow-down lz-model-edit-icon" *ngIf="i!==myModelList.length-1" (click)="$event.stopPropagation();moveModel(mode,i,myModelList,-1,'myModelList')"
                  title="下移"></i>
                <i class="fa flaticon-cancel" (click)="$event.stopPropagation();deleteModel(mode,myModelList,i,'myModelList')" title="移除"></i>
              </span>
            </span>
          </span>
        </span>
      </a>
    </li>
    <li class="m-menu__item">
      <span class="lz-history-model-title">历史访问模块</span>
      <span class="fa lz-model-edit-active" *ngIf="openModelList.length!==0" [ngClass]="{'flaticon-more-v2 lz-model-edit-icon-back':!editModel,'flaticon-interface-5 lz-model-edit-icon-move':editModel}"
        (click)="editModel=!editModel">
      </span>
    </li>
    <li class=" m-menu__item" *ngIf="openModelList.length==0 ">
      <span class="lz-history-model-title">无~~~</span>
    </li>
    <li class="m-menu__item" *ngFor="let modeList of openModelList | slice:0:5;let i=index">
      <a class="m-menu__link" (click)="fastEntryModule(modeList)">
        <i class="m-menu__link-icon {{modeList.icon}} "></i>
        <span class="m-menu__link-title">
          <span class="m-menu__link-wrap">
            <span class="m-menu__link-text">{{modeList.name}}
              <span *ngIf="editModel" class="lz-mode-edit-item">
                <i class="fa flaticon-cancel" (click)="$event.stopPropagation();deleteModel(modeList,openModelList,i,'openModelList')" title="移除"></i>
              </span>
            </span>
          </span>
        </span>
      </a>
    </li>
    <li class="m-menu__item" *ngIf="openModelList.length!==0">
      <span class="lz-history-model-de" (click)="$event.stopPropagation();deleteModelAll()">remove all</span>
    </li>
  </ul>
  <ul class="m-menu__subnav" *ngIf="addModel">
    <li class="m-menu__item">
      <span class="lz-history-model-title">模块列表</span>
    </li>
    <li class="lz-el-checkbox" *ngFor="let modelList of allModelList;let i=index">
      <a class="lz-checkbox">
        <label for="{{i}}">
          <input type="checkbox" id="{{i}}" checked="{{modelList.checked}}" (click)="handle($event,modelList)" />
          <span>{{modelList.name}}</span>
        </label>
      </a>
    </li>
    <li class="lz-add-model-cancel">
      <i class="la-check" (click)="$event.stopPropagation();submitCheckedModel()"></i>
      <i class="la-close" (click)="$event.stopPropagation();cancelCheckedModel()"></i>
    </li>
  </ul>
</div>
