<div class="m-portlet">
  <div class="m-portlet__body">
    <div class="m-stack m-stack--ver m-stack--general">
      <div class="m-stack__item m-stack__item--center">
        <h1>
          <span translate>{{appName}}</span>
        </h1>
        <p>
          <i class="fa fa-bookmark-o"></i>
          <span translate>Version</span> {{version}}
        </p>
        <div class="m-pricing-table-1 m-pricing-table-1--fixed">
          <div class="m-pricing-table-1__items row">
            <div class="m-pricing-table-1__item col-lg-4">
              <div class="m-pricing-table-1__visual">
                <div class="m-pricing-table-1__hexagon1"></div>
                <div class="m-pricing-table-1__hexagon2"></div>
                <span class="m-pricing-table-1__icon m--font-brand">
                  <i class="fa flaticon-rocket"></i>
                </span>
              </div>
              <span class="m-pricing-table-1__price">
              </span>
              <h2><strong>快速</strong></h2>
              <span class="m-pricing-table-1__description">
                Lorem ipsum dolor sit amet edipiscing elit
                <br/> sed do eiusmod elpors labore et dolore
                <br/> magna siad enim aliqua
              </span>
            </div>
            <div class="m-pricing-table-1__item col-lg-4">
              <div class="m-pricing-table-1__visual">
                <div class="m-pricing-table-1__hexagon1"></div>
                <div class="m-pricing-table-1__hexagon2"></div>
                <span class="m-pricing-table-1__icon m--font-brand">
                  <i class="fa flaticon-piggy-bank"></i>
                </span>
              </div>
              <span class="m-pricing-table-1__price">                
              </span>
              <h2><strong>强大</strong></h2>
              <span class="m-pricing-table-1__description">
                Lorem ipsum dolor sit amet edipiscing elit
                <br/> sed do eiusmod elpors labore et dolore
                <br/> magna siad enim aliqua
              </span>
            </div>
            <div class="m-pricing-table-1__item col-lg-4">
              <div class="m-pricing-table-1__visual">
                <div class="m-pricing-table-1__hexagon1"></div>
                <div class="m-pricing-table-1__hexagon2"></div>
                <span class="m-pricing-table-1__icon m--font-brand">
                  <i class="fa flaticon-gift"></i>
                </span>
              </div>
              <span class="m-pricing-table-1__price">                
              </span>
              <h2><strong>简单</strong></h2>
              <span class="m-pricing-table-1__description">
                Lorem ipsum dolor sit amet edipiscing elit
                <br/> sed do eiusmod elpors labore et dolore
                <br/> magna siad enim aliqua
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>