.m-dropdown__header {
  background: url('../../../../../assets/media/app/img/misc/quick_actions_bg.jpg');
  background-size: cover;
}

.lz-model-add-wr {
  max-height: 310px;
  overflow-y: auto;
  padding: 20px 20px 10px;
}

.lz-model-add-icon {
  margin-bottom: 10px;

  .lz-my-model-add-icon {
    display: inline-block;
    margin: 10px 5px 20px;
  }
}

.lz-m-checkbox--state-brand {
  margin-right: 10px;
}
