.lz-vehicle-selection-result-text {
  display: inline-block;
  padding: 5px 0;
}

.lz-vehicle-selection-type {
  margin-top: 8px;
}

.lz-vehicle-selection-letter {
  display: inline-block;
  padding: 0 6px;
  text-align: center;
}

.lz-vehicle-selection-letter li {
  padding: 0 4px;
}

.lz-vehicle-selection-letter li:hover {
  background: #2c2e3e;
  color: #fff;
  cursor: pointer;
}

.lz-vehicle-selection-letter-li-active {
  background: #2c2e3e;
  color: #fff;
  cursor: pointer;
}

.lz-vehicle-selection-container {
  max-height: 260px;
  overflow-y: auto;
}

.lz-vehicle-selection-container b {
  font-weight: bold;
}

.lz-vehicle-selection-item {
  padding: 4px 0 4px 20px;
}

.lz-vehicle-selection-item:hover {
  background: #ededed;
  cursor: pointer;
}

.lz-vehicle-selection-cartitle {
  font-weight: bold;
}

.m-dropdown__wrapper {
  width: 100%;
}

.m-section__content {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.m-dropdown .m-dropdown__wrapper {
  width: 100%;
}

.m-dropdown.m-dropdown--inline {
  display: block;
}

.m-section__content .m-dropdown__toggle {
  display: block;
}
