/*global*/

* {
  box-sizing: border-box;
}

/*scroll bar*/

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  background-color: #E1F6FB;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(122, 128, 133);
}

/* reset chrome input default Fill */

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}

@keyframes autofill {
  to {
    color: #000000;
    background: none;
  }
}

/* app */

a {
  cursor: pointer;
}

app-shell {
  height: 100%;
}

app-login {
  height: 100%;
}

.m-wrapper .progress.conent-progress {
  position: absolute;
  width: 100%;
  display: none;
  .progress-bar {
    width: 100%;
  }
}

/* metronic */

.m-grid--root.m-page {
  height: 100%;
}

.m-dropdown {
  .m-dropdown__wrapper {
    width: 150px;
  }
}

.btn-secondary {
  color: #6f727d;
}

.progress.m-progress--sm {
  height: 6px;
}

/* sweet alert2 */

.swal2-buttonswrapper button {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 80px;
}

/* @swimlane/ngx-datatable */

.ngx-datatable.material {
  box-shadow: none;
  .datatable-header {
    border-bottom-color: #ebedf2;
    overflow: initial !important;
    position: relative !important;
    z-index: 11 !important;
    .datatable-header-inner {
      position: absolute;
      .datatable-header-cell {
        overflow: initial !important;
        .datatable-header-cell-label {
          font-weight: bold;
        }
      }
      .datatable-header-cell-acitons {
        padding-top: 3px;
        padding-bottom: 3px;
        vertical-align: top;
        .dropdown {
          position: relative;
        }
      }
    }
  }
  .datatable-checkbox {
    padding: 0;
  }
  .datatable-body {
    .datatable-body-row {
      .datatable-body-cell {
        padding-top: 10px;
        padding-bottom: 10px;
        .btn {
          margin-top: -4px;
        }
      }
    }
    overflow: visible !important;
  }
  div.dropdown {
    position: absolute;
    .dropdown-menu {
      position: 100;
    }
  }
  .datatable-footer {
    border-top-color: #ebedf2;
  }
}

/* ngx-query */

ngx-query.full-screen {
  .card {
    border: none;
    .card-body {
      border-bottom: 1px solid #ebedf2;
    }
  }
}

ngx-query.no-header {
  .card-header {
    display: none;
  }
}

ngx-query {
  .btn {
    color: #c4c5d6;
  }
}

/* overall situationinput type=‘checkb’ style */

input[type='checkbox']:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  cursor: pointer;
}

input[type='checkbox']:before {
  content: "";
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: 2px solid #c7c5c5;
  z-index: 1;
}

input[type='checkbox']:checked:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

.m-alert__text {
  font-size: 13px;
  padding: 0rem 0rem 0rem 1.75rem !important;
}
