<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" 
      data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true"
      app-top-menu-actions>
    </li>
    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
      data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true"
      app-top-menu-reports>
    </li>
    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
      data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true"
      app-top-menu-apps>
    </li>
  </ul>
