<div class="modal-header">
  <h5 class="modal-title">修改密码</h5>
  <button type="button" class="close" (click)="activeModal.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="m-t" role="form" [formGroup]="changePassForm" novalidate>
    <div class="form-body">
      <div class="form-group">
        <label class="control-label">当前密码</label>
        <input type="password" class="form-control" formControlName="oldPassword" required="" maxlength="50" />
        <span [hidden]="changePassForm.controls.oldPassword.valid || changePassForm.controls.oldPassword.untouched" class="text-danger"
          translate>
          当前密码不能为空.
        </span>
      </div>
      <div class="form-group">
        <label class="control-label">新密码</label>
        <input type="password" class="form-control" formControlName="newPassword" required="" maxlength="20" />
        <span [hidden]="changePassForm.controls.newPassword.valid || changePassForm.controls.newPassword.untouched" class="text-danger"
          translate>
          新密码不能为空 (最少6个字符).
        </span>
      </div>
      <div class="form-group">
        <label class="control-label">确认密码</label>
        <input type="password" class="form-control" formControlName="confirmPassword" required="" maxlength="20" />
        <span [hidden]="changePassForm.controls.confirmPassword.valid || changePassForm.controls.confirmPassword.untouched" class="text-danger"
          translate>
          确认密码不能为空(最少6个字符).
        </span>
        <span [hidden]="validateEqual()" class="text-danger" translate>
          新密码不等于确认密码.
        </span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-brand m-btn--pill" [ladda]="isLoading" [disabled]="changePassForm.invalid || !validateEqual() || isLoading"
    (click)="changePassword()">
    <i class="la la-check"></i>
    <span>修改密码</span>
  </button>
  <button type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill" (click)="activeModal.hide()"><span>关闭</span></button>
</div>
