<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">文件上传</h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body p-0">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 ">
          <p>
            <el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" [drag]="true" [multiple]="true">
              <ng-template #trigger>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或
                  <em>点击上传</em>
                </div>
              </ng-template>
            </el-upload>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
