<a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
  <span [class]="badgeClass" *ngIf="unreadMessageCount>0"></span>
  <span [class]="iconClass">
    <i class="flaticon-music-2"></i>
  </span>
</a>
<div class="m-dropdown__wrapper">
  <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
  <div class="m-dropdown__inner">
    <div class="m-dropdown__header m--align-center">
      <span class="m-dropdown__header-title">
        {{unreadMessageCount}} 个新消息
      </span>
      <span class="m-dropdown__header-subtitle">
        接收到的消息通知
      </span>
    </div>
    <div class="m-dropdown__body">
      <div class="m-dropdown__content">
        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
              消息通知
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab">
              事件
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab">
              日志
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
            <div *ngIf="unreadMessages.length>0" class="m-scrollable" data-scrollable="true" data-max-height="250" data-mobile-max-height="200">
              <div class="m-list-timeline m-list-timeline--skin-light">
                <div class="m-list-timeline__items">
                  <div class="m-list-timeline__item" *ngFor="let msg of unreadMessages">
                    <span class="m-list-timeline__badge"></span>
                    <span class="m-list-timeline__text">
                      <a (click)="viewMessages(msg.unreadMessageId)" class="m-link" [title]="msg.message">{{msg.message | slice:0:16}}
                        <span *ngIf="msg.message.length > 16">...</span>
                      </a>
                    </span>
                    <span class="m-list-timeline__time">
                      {{msg.sentAt | amTimeAgo}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="unreadMessages.length===0" class="m-stack m-stack--ver m-stack--general min-height">
              <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <span class="">
                  没有新的消息通知。
                  <br/>
                  <a [routerLink]="['/messages','all']" class="m-link">查看全部</a>
                </span>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
            <div class="m-stack m-stack--ver m-stack--general min-height">
              <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <span class="">
                  没有新的事件信息。
                </span>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
            <div class="m-stack m-stack--ver m-stack--general min-height">
              <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <span class="">
                  没有新的日志信息。
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
