<div class="container-fluid">
  <div class="row">
    <!-- 必填验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-required-validator></app-required-validator>
    </div>
    <!-- 最小长度验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-min-length-validator></app-min-length-validator>
    </div>
    <!-- 最大长度验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-max-length-validator></app-max-length-validator>
    </div>
    <!-- 长度范围验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-range-length-validator></app-range-length-validator>
    </div>
    <!-- 日期验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-date-validator></app-date-validator>
    </div>
    <!-- 最小日期验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-min-date-validator></app-min-date-validator>
    </div>
    <!-- 最大日期验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-max-date-validator></app-max-date-validator>
    </div>
    <!-- email验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-email-validator></app-email-validator>
    </div>
    <!-- number验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-number-validator></app-number-validator>
    </div>
    <!-- phone验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-phone-validator></app-phone-validator>
    </div>
    <!-- url验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-url-validator></app-url-validator>
    </div>
    <!-- 自定义正则表达式验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-custom-pattern-validator></app-custom-pattern-validator>
    </div>
    <!-- 值相同验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-equal-to-validator></app-equal-to-validator>
    </div>
    <!-- 值不相同验证 -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <app-not-equal-to-validator></app-not-equal-to-validator>
    </div>
  </div>
</div>
