<a href="#" class="m-nav__link m-dropdown__toggle">
  <span class="m-topbar__userpic">
    <img src="assets/media/app/img/users/avatar.svg" class="m--img-rounded m--marginless m--img-centered" alt="" />
  </span>
  <span class="m-topbar__username m--hide">
    Nick
  </span>
</a>
<div class="m-dropdown__wrapper">
  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
  <div class="m-dropdown__inner">
    <div class="m-dropdown__header m--align-center">
      <div class="m-card-user m-card-user--skin-dark">
        <div class="m-card-user__pic">
          <img src="assets/media/app/img/users/avatar.svg" class="m--img-rounded m--marginless" alt="" />
        </div>
        <div class="m-card-user__details">
          <span class="m-card-user__name m--font-weight-500">
            {{profile.displayName}}
          </span>
          <a class="m-card-user__email m--font-weight-300 m-link">
            {{profile.username}}
          </a>
        </div>
      </div>
    </div>
    <div class="m-dropdown__body">
      <div class="m-dropdown__content">
        <ul class="m-nav m-nav--skin-light">
          <li class="m-nav__section m--hide">
            <span class="m-nav__section-text">
              Section
            </span>
          </li>
          <li class="m-nav__item">
            <a (click)="viewMessages()" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-speech-bubble"></i>
              <span class="m-nav__link-text">
                我的消息
              </span>
            </a>
          </li>
          <li class="m-nav__separator m-nav__separator--fit"></li>
          <li class="m-nav__item">
            <a (click)="changePassword()" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-lock-1"></i>
              <span class="m-nav__link-text">
                修改密码
              </span>
            </a>
          </li>
          <li class="m-nav__separator m-nav__separator--fit"></li>
          <li class="m-nav__item">
            <a [routerLink]="'/help'" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-info"></i>
              <span class="m-nav__link-text">
                帮助中心
              </span>
            </a>
          </li>
          <li class="m-nav__item">
            <a [routerLink]="'/contact-us'" class="m-nav__link">
              <i class="m-nav__link-icon flaticon-lifebuoy"></i>
              <span class="m-nav__link-text">
                服务支持
              </span>
            </a>
          </li>
          <li class="m-nav__separator m-nav__separator--fit"></li>
          <li class="m-nav__item">
            <a (click)="logout()" class="btn m-btn--pill  btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
              注销
            </a> 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
