<div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon">
            <i class="la la-black-tie"></i>
          </span>
          <h3 class="m-portlet__head-text">
            隐私与Cookies
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>Lorem ipsum dolor sit amet, duo ad erant complectitur, eu civibus appetere eam. Audire vidisse vituperatoribus ad ius.
        Dolorem epicurei vix at, et nostrud detracto definitionem sit. Te mei duis quando pertinacia. Modus laboramus vim ea,
        pri ignota postea aliquip ex, vero viris quidam no sea. No aeque recteque quaerendum sea. Eu iusto labitur has.
      </p>
      <p>
        No equidem interesset per, et euismod epicuri his. Nec id munere nominati. Minim tractatos ius id. Enim velit vivendo ius
        in, delicata omittantur sit at, eum ignota comprehensam ut. Est noster aeterno aperiam ei. Eam erat mucius percipit
        ut.
      </p>
      <h2>Ne vim maiorum vivendum</h2>
      <p>
        Ne vim maiorum vivendum, mel te affert alterum. Vix decore patrioque neglegentur in, at elit tibique moderatius nec. Ei vim
        eirmod tibique conclusionemque, usu an autem fierent. Vel inani simul nonumes te. Sed ad voluptua qualisque.
      </p>
      <h3>Vix ad novum omnesque</h3>
      <p>
        Vix ad novum omnesque, simul exerci sit ad. Labores incorrupte vel in. Maluisset consulatu repudiare mei cu, debet cotidieque
        mei cu. Usu impedit intellegam ad, vocent commodo delenit sit te, in nobis hendrerit pro. Tempor quaestio ex duo. Cu
        dicta euismod urbanitas nec, eam legere nostrud vivendo no, vitae verterem no eam.
      </p>
      <p>
        Qui te ubique placerat luptatum. Ad purto maiorum atomorum eam, vis ex nulla utinam. Ad labitur equidem delectus sed, nec
        utinam ornatus perpetua eu. Noster dicunt pro at. Qui saepe impedit nostrum te.
      </p>
      <h2>Quo numquam inermis maiestatis te</h2>
      <p>
        Quo numquam inermis maiestatis te, te alterum mentitum tincidunt sed. Ea pri dicit civibus, cum an hinc ipsum audire. Homero
        accommodare eum an. Id his dico eripuit similique, ius modo iusto ne.
      </p>
      <p>
        Ne eum iriure dolorum complectitur. Qui in munere veritus. Tollit consul moderatius ius ex, nonumes expetenda pro ne. Qui
        an sanctus vivendum philosophia. Ut has augue viderer luptatum.
      </p>
      <p>
        Commodo tacimates appellantur cum te, sed ex aliquam efficiendi comprehensam, vim errem legendos intellegam ex. Eu tincidunt
        disputationi qui, copiosae eloquentiam ne usu, eos et virtute delenit. Nisl possit bonorum pro ex, pro tibique suscipit
        scriptorem cu. Dicta apeirian recusabo duo ea, ne evertitur persequeris qui. His brute consul aliquid ei, ex perpetua
        expetenda mel, ut purto ullum adipisci quo.
      </p>
      <h3>Sea denique invenire vituperata ut</h3>
      <p>
        Sea denique invenire vituperata ut. Nec discere intellegebat id. No ius corpora facilisi consectetuer. Dicunt doctus consequat
        mea no. Mea at quas voluptaria, pri ex repudiare sadipscing.
      </p>
      <p>
        Ei elit dicat nominati vel. Mea paulo graece posidonium id. Has ex eius electram consetetur, cibo nominati ei duo. Cum porro
        vocent legendos ea. Id sit accusam gloriatur.
      </p>
    </div>
  </div>