<div class="m-grid m-grid--hor m-grid--root m-page">
  <app-header></app-header>
  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
      <app-navigation></app-navigation>
    </div>
    <!-- END: Left Aside -->
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <div class="progress m-progress--sm conent-progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated m--bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <app-page-header></app-page-header>
      <div class="m-content m-shell">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- end::Body -->
  <app-footer></app-footer>
  <app-sso-register></app-sso-register>
</div>
