<div class="m-nav-grid__row">
  <p class="lz-header-quick-operation-title">
    <span>{{modelName}}</span>
    <i class="lz-hover-clolor lz-hover-cursor" *ngIf="modelList.length!==0" [ngClass]="{'flaticon-more-v6 lz-edit-icon-back':editModel,'flaticon-interface-5 lz-edit-icon-move':!editModel}"
      (click)="$event.stopPropagation();editModel=!editModel"></i>
    <i class="flaticon-cancel flaticon-cancel-rotate lz-hover-clolor lz-hover-cursor" *ngIf="!editModel&&addIcon||(addIcon&&modelList.length===0)"
      (click)="$event.stopPropagation();addModel(false)"></i>
  </p>
  <p>
    <a class="lz-header-quick-operation-item lz-hover-box-shadow" *ngFor="let model of modelList|slice:0:6;let i=index" (click)="operationService.fastEntryModule(model)">
      <p>
        <i class="lz-hover-clolor lz-hover-cursor {{model.icon}}"></i>
      </p>
      <span class="lz-hover-clolor lz-hover-cursor">{{model.name}}</span>
      <p *ngIf="!editModel&&moveIcon">
        <i *ngIf="i!==0" (click)="$event.stopPropagation();moveModel(model,i,1)" class="flaticon-up-arrow lz-hover-clolor lz-move-prev"
          title="向前移动"></i>
        <i *ngIf="i!==modelList.length-1" (click)="$event.stopPropagation();moveModel(model,i,-1)" class="flaticon-up-arrow lz-hover-clolor lz-move-back"
          title="向后移动"></i>
      </p>
      <i *ngIf="!editModel" (click)="$event.stopPropagation();removeModel(model,i,removeListName)" class="lz-my-model-remove flaticon-cancel lz-hover-clolor"
        title="移除"></i>
    </a>
    <a *ngIf="modelList.length===0">无~~~~</a>
  </p>
  <p *ngIf="removeAllIcon&&modelList.length!==0">
    <span class="lz-hover-clolor lz-hover-cursor" *ngIf="!editModel" (click)="$event.stopPropagation();removeAllModel()">remove all</span>
  </p>
</div>
